{% extends "dashboard/base.html" %}

{% block title %}Mot de Passe Réinitialisé!{% endblock %}

{% block content %}
  <h2>Mot de passe Réinitialisé</h2>
  <p>Votre mot de passe a été réinitialisé avec succès</p>
  <a href="{% url 'home' %} " style="color: rgb(84, 84, 224);"> Connectez Vous</a>

{% endblock %}
 
<style>
  /* Styles pour le titre */
h2 {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

/* Styles pour le paragraphe de confirmation */
p {
  font-size: 16px;
  color: #666;
  text-align: center;
  margin-bottom: 20px;
}

</st