{% extends "dashboard/base.html" %}

{% block title %}Email Réinitialiser Mot de Passe{% endblock %}

{% block content %}
  <div class="container">
    <h2>Mail Envoyé</h2>
    <p>Nous avons envoyé un message avec le lien pour la réinitialisation de votre mot de passe. Veillez vérifier vos mails.</p>
    
    <!-- Bouton pour renvoyer vers la page de connexion -->
    <a href="{% url 'home' %}" class="btn">Se Connecter</a>
  </div>
{% endblock %}

<style>
  /* Style du titre */
  h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }

  /* Style du paragraphe */
  p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
  }

  /* Style du conteneur principal */
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  /* Style du lien */
  a {
    color: #007bff;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px; /* Espacement vers le haut */
    padding: 10px 20px; /* Espacement autour du bouton */
    background-color: #007bff; /* Couleur de fond du bouton */
    color: #fff; /* Couleur du texte du bouton */
    border-radius: 5px; /* Coins arrondis */
    transition: background-color 0.3s; /* Transition fluide lors du survol */
  }

  a:hover {
    background-color: #0056b3; /* Couleur de fond du bouton au survol */
  }
</style>
