{% extends "dashboard/base.html" %}

{% block title %}Reinitialiser Le Mot de Passe{% endblock %}

{% block content %}
<div class="container">
  <h2>Reinitialisation</h2>
  <p>Entrer votre adresse Mail</p>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Envoyer</button>
  </form>
</div>

<style>
  /* Style du titre */
  h2 {
    font-size: 24px;
    color: #1613c0;
    margin-bottom: 20px;
  }

  /* Style du paragraphe */
  p {
    font-size: 16px;
    color: #1613c0;
    line-height: 1.5;
  }

  /* Style du conteneur principal */
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex; /* Utiliser un modèle de boîte flex */
    align-items: center; /* Centrer verticalement les éléments */
    justify-content: center; /* Centrer horizontalement les éléments */
  }

  /* Style du corps du message */
  .message {
    margin-bottom: 20px;
  }

  /* Style du lien */
  a {
    color: #007bff;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
</style>
{% endblock %}
